MONGODB_URI="your-mongo-db-url"
NEXTAUTH_SECRET="your-next-auth-secret"
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
NEXT_PUBLIC_PASSWORD_PROTECTION=false
NEXT_PUBLIC_ADMIN_PASSWORD="your-password"
NEXTAUTH_URL=http://localhost:3000
YOUR_ML_SERVICE_ENDPOINT = "your-ml-service-url"